@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

a {
  text-decoration: none;
}

.xo-scroll-wrap {
  &__conent {
    &__header {

    }
  }
}

.xo-header-wrapper {
  height: 100px;
}

.xo-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #fff;
  z-index: 10;

  &__title {
    flex: 5;
  }

  &__icons {
    flex: 1;
    i {
      font-size: 30px;
      margin: 0 10px;
    }
  }
}

.xo-nav {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .nav {
    flex: 1;
  }

  &__logo {
    height: 100px;
    text-align: center;

    img {
      margin: 30px auto;
    }
  }
}

.xo-machines {
  flex: 1;
}

.xo-machine-card {
  margin: 20px 0;

  span {
    background-color: #32a852;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 12px;
    float: right;
  }

  p {
    margin-bottom: 0;
    color: #656565;
  }

  &__chart {
    max-width: 100px;
    margin: 20px auto;
  }
}

.xo-tab-content {
  height: calc(100vh - 175px);
  overflow-y: scroll;
}

.xo-machine-meta{}
.xo-machine-big-numbers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.xo-machine-progress{}
